@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

*{
  font-family: "Rethink Sans", sans-serif;
}

button{
  @apply cursor-pointer;
}

.no-scrollbar::-webkit-scrollbar{
  display:none;
}

html, body, #root {
  background-color: #0a0a0a;
  margin: 0;
  padding: 0;
  height: 100%;
}